@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  --color-border: #e5e7eb;
  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-primary: #09090b;
  --color-primary-foreground: #ffffff;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-accent: #3b82f6;
  --color-accent-foreground: #ffffff;
  --color-background-dark: #09090b;
  --color-foreground-dark: #fafafa;

  --color-muted-dark: #18181b;
  --color-muted-foreground-dark: #a1a1aa;

  --color-card-dark: #111111;
  --color-card-foreground-dark: #fafafa;

  --color-border-dark: #27272a;

  --color-primary-dark: #fafafa;
  --color-primary-foreground-dark: #09090b;
}

/* DARK THEME */
.dark {
  --color-border: #27272a;
  --color-background: #09090b;
  --color-foreground: #fafafa;

  --color-primary: #fafafa;
  --color-primary-foreground: #09090b;

  --color-muted: #18181b;
  --color-muted-foreground: #a1a1aa;

  --color-accent: #60a5fa;
  --color-accent-foreground: #ffffff;
}


@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased selection:bg-accent/20 selection:text-accent;
  }
  .dark {
    --color-background: var(--color-background-dark);
    --color-foreground: var(--color-foreground-dark);

    --color-muted: var(--color-muted-dark);
    --color-muted-foreground: var(--color-muted-foreground-dark);

    --color-card: var(--color-card-dark);
    --color-card-foreground: var(--color-card-foreground-dark);

    --color-border: var(--color-border-dark);

    --color-primary: var(--color-primary-dark);
    --color-primary-foreground: var(--color-primary-foreground-dark);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
